body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #444;
    background-color: #fff8dc;
    text-align: center;
    margin: 0;
}

#title {
    padding: 0;
    margin: 15px;
    font-size: 4rem;
}

#etch-a-sketch {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#ui-paint {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    width: 90vw;
    margin: 0;
    padding: 0;
}

#ui {
    width: 22%;
    height: 33em;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 2rem;
}

.ui-block {
    height: 2.5rem;
    width: 100%;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 0;
}

#color-picker {
    margin: 0;
    padding: 0;
    height: 3.5rem;
    width: 100%;
    border: hidden;
    border-radius: 5px;
    cursor: pointer;
}

#color-picker::-webkit-color-swatch {
    border: 1px solid black;
    border-radius: 5px;
}

#color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}

#modes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 5.5rem;
    padding: 0;
    margin: 0;
}

#modes > p {
    padding: 0;
    margin: 0;
}

.mode {
    border-radius: 6px;
    border: 1px solid #888;
    background-color: #CCC;
    width: 4rem;
    text-align: center;
    cursor: pointer;
    font-size: 0.8rem;
}

.mode:hover {
    background-color: #BBB;
    color: #017df1;
}

button {
    color: inherit;
}

button.selected {
    background-color: #444;
    color: #EEE;
}

#eraser, #grid-toggle, #screenshot {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.yellow-background {
    background-color: #fff8dc;
}

#eraser:hover, #grid-toggle:hover, #screenshot:hover {
    color: #017df1;
}

#grid-size {
    cursor: pointer;
}

#grid-size-value {
    font-weight: bold;
}

#paint-grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 33rem;
    min-width: 33rem;
    height: 33rem;
    min-height: 33rem;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

}

.grid-block {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

#clear-btn {
    width: 82vw;
    height: 2.5rem;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(255, 79, 56);
    color: #444;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 1rem;
}

#output {
    position: absolute;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    padding: 8px;
    background-color: white;
    top: auto;
    transition: 0.5s;
    left: auto;
    opacity: 0;
}

#close-pic-btn {
    background-color: #BBB;
    color: white;
    font-size: 2.5rem;
    border-radius: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 4rem;
    max-height: 4rem;
    opacity: 0.75;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

@media screen and (max-width: 820px) {
    #ui-paint {
        flex-direction: column;
        gap: 2.5rem;
    }
    #ui {
        flex-direction: row;
        width: 85vw;
        height: 22%;
        flex-wrap: wrap;
    }
    .ui-block, #color-picker{
        width: 23%;
    }
    #modes {
        flex-direction: row;
    }
    input[type=range] {
        max-width: 95%;
        height: 30%;
    }
    #title {
        font-size: 3rem;
        margin: 10px;
    }
}

@media screen and (max-width: 560px) {
    html {
        font-size: 10px;
    }
}